.popup_opened {
  display: flex;
  -webkit-animation: fade .5s ease-in-out both;
          animation: fade .5s ease-in-out both;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}