.card__delete {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card__delete:hover {
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
}