.profile__about {
  width: fit-content;
  margin-block: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(22/18);
}

@media screen and (width < 1024px) {
  .profile__about {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px)/(1024 - 320)));
    line-height: calc(17/14);
  }
}