.edit-form__save_type_inactive {
  color: rgb(0,0,0);
  background: rgba(255,255,255);
  border: 1px solid #000000;
  opacity: .15;
}

.edit-form__save_type_inactive:hover {
  opacity: .15;
  cursor: default;
}