.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(22/18);
  color: #545454;
  margin-block: 0;
  margin-top: 67px;
  margin-bottom: 60px;
}

@media screen and (width < 1024px) {
  .footer__copyright {
    margin-top: calc(48px + (67 - 48) * ((100vw - 320px)/(1024 - 320)));
    margin-bottom: calc(36px + (60 - 36) * ((100vw - 320px)/(1024 - 320)));
    font-size: 14px;
    line-height: 17px;
  }
}