.logo {
  padding-bottom: 41px;
  padding-top: 45px;
  width: 142px;
  height: 33px;
}

@media screen and (width < 1024px) {
  .logo {
    padding-bottom: 31px;
    padding-top: 28px;
    padding-left: 27px;
    width: 103.74px;
    height: 24.4px;
  }
}