.profile__name-container {
  width: fit-content;
  display: flex;
  gap: 18px;
  align-items: end;
  max-width: 100%;
}

@media screen and (width < 1024px) {
  .profile__name-container {
    padding-left: 25px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: auto;
  }
}