.page__header {
  margin-left: 200px;
  margin-right: 200px;
}

@media screen and (width < 1280px) {
  .page__header {
    margin-left: calc(19px + (200 - 19) * ((100vw - 320px)/(1279 - 320)));
    margin-right: calc(19px + (200 - 19) * ((100vw - 320px)/(1279 - 320)));
  }
}

@media screen and (width < 340px) {
  .page__header {
    margin-left: 0;
    margin-right: 0;
  }
}