.edit-form__save {
  padding: 0;
  color: #FFFFFF;
  background: #000000;
  border-radius: 2px;
  border: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  height: 50px;
  transition: opacity .5s ease;
  margin-bottom: 37px;
  margin-top: 48px;
}

@media screen and (width < 600px) {
  .edit-form__save {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
    margin-bottom: 25px;
    margin-top: 45px;
  }
}

.edit-form__save:hover {
  opacity: .8;
  cursor: pointer;
}